@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --primary-bg: #fdfdfd;
}

body {
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Noto+Sans+KR', sans-serif;
}

canvas {
    display: block;
}

#current-date {
    font-family: 'Libre Baskerville', serif;
}
